body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  text-transform: capitalize;
}

.input-container {
  display: flex;
  box-shadow: 10px 10px 20px #0e1013, -10px -10px 40px #000000;
}

.input-container input {
  box-shadow: inset 5px 5px 10px rgb(255, 204, 0), inset -5px -5px 10px #ff0000, 0px 0px 100px rgba(255, 212, 59, 0), 0px 0px 100px rgba(255, 102, 0, 0);
  width: 100%;
  border: none;
  border: 1px solid transparent;
  color: rgb(0, 0, 0);
  transition: all 0.2s ease-in-out;
}

.input-container button {
  flex-basis: 25%;
  padding: 1rem;
  background: rgb(255, 204, 0) 100px;
  font-weight: 900;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: #00ff2a;
  border: none;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.input-container button:hover {
  background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/5.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 500px) {
  .input-container {
    flex-direction: column;
  }

  .input-container input {
    border-radius: 0.8rem;
  }

  .input-container button {
    padding: 1rem;
    border-radius: 0.8rem;
  }
}

/* cartas de pokemon */



